.navbar{
  height: 70px;
  color: white;
  margin-bottom: 3%;
  background-color: rgb(197, 221, 209);
}

.box{
  width: 60%;
  margin: auto;
  padding: 2% 4%;
  text-align: center;
}

#button{
  text-align: center;
  padding: 10px 18px;
  font-size: 17px;
  margin: auto;
  margin-top: 2%;
}

h1{
  text-align: center;
}