.navbar{
  height: 70px;
  background-color: rgb(197, 221, 209);
}

.box{
  width: 60%;
  margin: auto;
  padding: 2% 4%;
  text-align: center;
}

#button{
  text-align: center;
  padding: 10px 20px;
  font-size: 17px;
  margin: auto;
  margin-top: 1%;
}

.head{
  text-align: center;
  margin-top: 5%;
}

#atag{
  text-decoration: none;
  margin-left: 8%;
  margin-right: 8%;
  color:  black;
}

.imgBox{
  height: 260px;
  width: 30%;
}

#img{
  height: 100%;
  width: 100%;
}

.imgBox1{
  height: 150px;
  width: 20%;
}


