.navbar{
  height: 70px;
  background-color: rgb(197, 221, 209);
}

.box{
  width: 60%;
  margin: auto;
  padding: 2% 4%;
  text-align: center;
}

#button{
  text-align: center;
  padding: 12px 18px;
  font-size: 17px;
  margin: auto;
  margin-top: 1%;
}

.head{
  text-align: center;
  margin-top: 5%;
}

#atag{
  text-decoration: none;
  color:  black;
}